{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your convertor</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="signupSection">
    <div class="info">
        {%if output_image %}
        <a href="{{ output_image }}" download=""><h2>Download</h2></a>
        <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
        <img src="{{ output_image }}" id="image" class="bottom-image">
        {%else%}
        <h2>Here will be your picture</h2>
        {%endif%}
    </div>
    <form action="" method="POST" class="signupForm" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Chose your picture</h2>
        {{form.original_file}}
        <ul class="noBullet">
            <li>
                <label for="output"></label>
                {{form.output_name}}
            </li>
            <li>
                <div class="q-container">
                    <div class="main">
                        {{form.format_choice}}
                    </div>
                </div>
            </li>
            <li>
                <h3>Delete background?</h3>
                <div class="q-container">
                    <div class="main">
                        {{ form.is_del_background }}
                        <label class="capsule" for="hidcheck" id="capsule-id">
                            <div class="circle"></div>
                            <div class="text-signs">
                                <span id="on"></span>
                            </div>
                        </label>
                    </div>
                </div>
            </li>
            <li id="center-btn">
                <input type="submit" id="join-btn" name="join" alt="Join" value="Send">
            </li>

        </ul>
    </form>
</div>
<script>
var checkbox = document.getElementById('hidcheck');
// Получаем ссылку на поле выбора формата
var formatChoice = document.getElementById('{{form.format_choice.auto_id}}');

// Слушаем изменения состояния ползунка
checkbox.addEventListener('change', function() {
// Если ползунок включен
if (this.checked) {
    // Автоматически выбираем формат PNG
    formatChoice.value = 'png';
} else {
    // Возвращаемся к предыдущему выбору
    // Можно оставить это пустым, если вы хотите, чтобы он оставался на предыдущем выборе
}
});

</script>
<script src="{%static 'js/main.js' %}"></script>
</body>
</html>


